    <footer class="bd-footer py-2 mt-5 bg-dark text-light">
        <div class="container py-2">
            <div class="row">
                    <p class="text-center">Student Information System</p>
                    <p class="text-center">© Copyright 2022-23</p>
                    <p class="text-center">All rights reserved</p>
            </div>
        </div>
    </footer>