    <nav class="navbar navbar-expand-lg justify-content-center navbar-dark bg-dark">
        <div class="nav">
            <a class="navbar-brand" href="/">Student Information System</a>
            <div class="justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link active" href="/adminlogin">Admin Login</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link active" href="/login">Student Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>